.my-text {
    color: rgb(0, 95, 64);
}

.colorChange {
    color: rgb(87, 15, 15);
}

.my-button {
    width: 5rem;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;

}